body {
	margin: 0;
	font-family: "Sans Serif", Serif;
	font-weight: 300;
	background-color: #f9f9f7;
	color: #444;
	hyphens: auto;
}

p {
	font-family: "Monospace", Times;
}

header {
	text-align: center;
}

footer {
	margin-top: 60px;
	margin-bottom: 40px;
	text-align: center;
}

#title, h1, h2, h3{
	text-transform: uppercase;
}

#title {
	position: relative;
	line-height: 0.1;
}

#title h1 {
	font-weight: 400;
	font-size: 22pt;
	line-height: 1.5;
	color: #42a7f4;
}

h3 {
	color: #42a7f4;
	margin-left: 100px;
}

h4 {
	margin-left: 120px;
	font-size: 18px;
}

h5 {
	margin-top: -4px;
	margin-bottom: -4px;
	margin-left: 130px;
	font-size: 14px;
}

#title h1 strong {
	margin: auto 2pt auto 4pt;
	font-weight: 600;
}

.subtitle {
	font-weight: 500pt;
	font-size: 15pt;
}

#ultop {
	margin: 10pt 0 0 -30pt;
	position: relative;
	text-align: center;
	line-height: 22px;
}

.nobullets {
	list-style-type: none;
}

.bullets {
	text-indent: 20px;
	word-wrap: break-word;
	font-size: 14pt;
	line-height: 1.6;
	margin-top: 10px;
	margin-left: 110px;
	margin-bottom: 10px;
	margin-right: 140px;
	display: inline-block;
}

.paragraph {
	margin: 24pt 1in auto 1in;
	position: relative;
	font-size: 12pt;
	word-wrap: break-word;
}

hr { 
    display: block;
    margin-top: -6px;
    margin-bottom: -6px;
    margin-left: 60px;
    margin-right: 60px;
    border-style: inset;
    border-width: 2px;
	border-color: #42a7f4;
}