body    {
        background-color: 	
        #C0C0C0;
}

#container {
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 12px 12px 12px #404040;
    text-align: center;
}

nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

main{
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 12px 12px 12px #404040;
}